.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

mat-card {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
}

mat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

mat-card-header h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 1rem;
}
.addDelete {
  width: 100%;
  margin-top: 10.8rem;
}
.Delete {
  width: 100%;
  margin-top: 15.5rem;
}
